<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>

        <!--th:replace="fragments/header :: head-->
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css"
              th:href="@{../css/style.css}" media="screen">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
</head>
<body>

<header>

    <div class="modal fade" id="createTaskModal" role="dialog" th:attrappend="id=${board.id}">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div>Add task</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" action="#"
                          th:action="@{/createTaskForBoard/{boardID}/onProject{projID}(boardID=${board.id},projID=${project.id})}"
                          method="post">
                        <fieldset>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm"
                                       style="font-size: 18px;">Assign to: </label>
                                <div class="col-sm-7">
                                    <div class="input-group mb-5" style="display: flex;">
                                        <select
                                                class="custom-select"
                                                name="fullName" style="height: auto;"
                                                id="inputGroupSelect03">
                                            <div  th:each="allMember : ${allMembers}">
                                                <option th:value="${allMember.firstName+' '+allMember.lastName}"
                                                        th:text="${allMember.firstName+' '+allMember.lastName}">
                                                </option>
                                            </div>

                                        </select>
                                    </div>
                                </div>
                            </div>


                            <!-- Text input-->
                            <div class="form-group row">
                                <label for="taskHeader"class="col-sm-4 col-form-label col-form-label-sm"
                                       style="font-size: 18px;">Task header: </label>
                                <div class="col-sm-7">
                                    <input name="taskHeader"
                                           type="text" id="taskHeader"
                                           class="form-control form-control-sm"
                                    />
                                </div>
                            </div>

                            <input type="submit" class="btn btn-success" style="float: right;" value="Save">
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
    </div>
</header>
</body>
</html>