<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>

        <!--th:replace="fragments/header :: head-->
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css"
              th:href="@{../css/style.css}" media="screen">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
</head>
<body>

<header>
    <!-- ADD NEW TEAM MODAL -->
    <div class="modal fade" id="newTeamModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Team to Project</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form th:action="@{/newTeam/{id}(id=${project.id})}" method="post">
                    <div class="modal-body">

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm"
                                   style="font-size: 18px;">Team type:</label>
                            <div class="col-sm-7">
                                <div class="input-group mb-5" style="display: flex;">
                                    <select class="custom-select" name="teamName" style="height: auto;"
                                            id="inputGroupSelect02">
                                        <option selected>Select a type...</option>
                                        <option value="software">Software</option>
                                        <option value="it">IT</option>
                                        <option value="content management">Content management</option>
                                        <option value="business administration">Business Administration</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success">Save</input>
                    </div>
                </form>
            </div>

        </div>
    </div>
</header>
</body>
</html>