<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <title>OfficePlanner</title>
</head>

<body>
<div class="content">
    <div id="sidebar">
        <div id="sidebar-wrap">

            <div class="user-info" th:text="${member.firstName+' '+member.lastName}"></div>

            <form th:action="@{/index}">
                <input type="submit" value="Dashboard" class="nav-btn drop-style">
            </form>
            <form action="">
                <input type="submit" value="Current Projects" class="nav-btn drop-style">
            </form>
            <form action="">
                <input type="submit" value="New Project" class="nav-btn drop-style">
            </form>
        </div>
    </div>
    <div class="main">
        <div class="main-wrap">
            <div class="heading-wrap">
                <div class="dashboard-title">Projects</div>
                <!--<form action="" style="margin-right: 30px; margin-top: 20px;">-->
                    <!--<input type="submit" value="Create Project" class="create-proj-btn drop-style">-->
                <!--</form>-->
            </div>
            <div id="search-bar">

                <form th:action="@{/searchProjectsBy}" class="navbar-form" role="search" style="display: flex; flex-direction: row;">
                    <div class="input-group mb-3">
                        <input type="text" name="searchTerm"
                               class="form-control" placeholder="Search for a project.."
                               aria-label="Recipient's username"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">

                            <button type="submit" style="color: #3440eb;">
                                <i class="fa fa-search"></i>
                            </button>

                        </div>
                    </div>
                </form>

            </div>

            <div class="project-table flex-grid">

                <div class="table-heading project-row">
                    <div class="name col-item">Name</div>
                    <div class="pr-type col-item">Type</div>
                    <div class="pr-owner col-item">Project owner</div>
                </div>

                <div class="project-row" th:each="project : ${projects}">
                    <div class="project-name col-item" th:text="${project.projectName}"></div>
                    <div class="project-type col-item" th:text="${project.projectType}"></div>
                    <div class="project-owner col-item"
                         th:text="${project.projectOwner.firstName+' '+project.projectOwner.lastName}"></div>
                    <form th:action="@{/projects/{id}(id=${project.id})}" method="get" class="col-item">
                        <!--class="nav-btn drop-style"-->
                        <input th:if="${project.checkIFValidOwner(member) == true}"
                               type="submit"
                               value="Edit Project"
                               class="create-proj-btn drop-style">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</body>
</html>