<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--th:replace="fragments/header :: head-->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css"
          th:href="@{../css/style.css}" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="project-page-wrap">
    <div class="sidebar">
        <div class="home-wrap">
            <form th:action="@{/index}" class="sidebar-icon">
                <input type="submit" value="&#xf015;" class="fa fa-input drop-style">
            </form>
        </div>
    </div>
    <div class="project-bar">
        <div class="pr-name-wrap">
            <div class="pr-image">
                <img src="../img/project-management.png">
            </div>
            <div class="pr-name-details">
                <div class="project-name project-page" th:text="${project.projectName}"></div>
                <div class="pr-type" th:text="${project.projectType}"></div>
            </div>
        </div>
        <div class="project-operations">
            <div class="operation-wrap">

                <!--<input type="submit" value="Add member"-->
                <!--class="nav-btn drop-style project-btn"-->
                <!--data-toggle="modal" data-target="#myModal">-->

                <!--<button type="button" class="btn create-proj-btn" data-toggle="modal" data-target="#newTeamModal">Add team-->
                <!--</button>-->

                <button type="button" class="btn create-proj-btn" data-toggle="modal" data-target="#myModal">Add
                    member
                </button>

                <button type="button" class="btn create-proj-btn" data-toggle="modal" data-target="#boardModal">Add board
                </button>

                <form action="">
                    <button type="button" class="btn create-proj-btn" data-toggle="modal" data-target="#myModal">Show my
                        tasks
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="project-container">
        <div class="dashboard-title" th:text="${project.projectName}"></div>
        <div class="project-heading-wrap">
            <div id="search-bar">

                <form action="" class="navbar-form" role="search" style="display: flex; flex-direction: row;">
                    <div class="input-group mb-3">
                        <input type="text" name="searchTerm"
                               class="form-control" placeholder="Search for a project.."
                               aria-label="Recipient's username"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text hover-ef" id="basic-addon2">
                              <i class="fa fa-search" style="color: #3440eb;"></i>
                            </span>
                        </div>
                    </div>
                </form>

            </div>
            <div class="members">

                <div class="dropdown">
                    <button class="dropbtn">
                        Project Members
                        <i class="fas fa-sort-down" style="color:blue;margin-bottom:3px;"></i>
                    </button>
                    <div class="dropdown-content">
                        <div th:each="member : ${projectMembers}">
                            <div class="single-member" th:text="${member.firstName+' '+member.lastName}"></div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="teams">
                <div class="dropdown">
                    <button class="dropbtn">
                        Teams
                        <i class="fas fa-sort-down" style="color:blue;margin-bottom:3px;"></i>
                    </button>
                    <div class="dropdown-content">
                        <div th:each="team : ${teams}">
                            <div class="single-member" th:text="${team.teamName}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="boards">
            <div th:each="board : ${boards}">
                <div class="single-board">
                    <div th:text="${board.boardName}" class="board-title"></div>
                    <div>
                        <div class="single-task">
                            <div class="task-title">Task text goes here</div>
                            <div class="assigned-to">Assignee: Someone</div>
                        </div>
                    </div>

                    <form th:action="@{/createTaskForBoard/{id}(id=${board.id})}">
                        <input type="text" name="taskName"/>
                        <button type="button" class="btn create-proj-btn" data-toggle="modal" data-target="#createTaskModal">Create task
                        </button>

                        <div th:replace="fragments/add-task-modal.html :: header"></div>
                    </form>
                </div>
            </div>
        </div>


        <div th:replace="fragments/add-member-modal.html :: header"></div>

        <div th:replace="fragments/add-board-modal.html ::header"></div>

        <div th:replace="fragments/new-team-modal.html ::header"></div>

    </div>


</div>

</body>
</html>