<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="utf-8">

</head>
<body>
<div class="container">

    <div class="col-md-6  offset-md-3" style="margin-top: 20%;">
        <h2>Saasovation Project Management</h2><br/><br/>
        <form class="text-center" th:action="@{/registerNewMember}" method="post">

            <input type="text" name="firstName" class="form-control" aria-describedby="emailHelp" placeholder="Enter first name"><br/>
            <input type="text" name="lastName"  class="form-control" aria-describedby="emailHelp" placeholder="Enter last name"><br/>
            <input type="email" name="email" class="form-control" placeholder="name@example.com">
            <small style="text-align: left!important;" class="form-text text-muted custom-text-small">We'll never share your email with anyone else.</small><br/>
            <input type="password" class="form-control" name="password" placeholder="Password"><br/>
            <input type="password" class="form-control" name="passwordRepeat"  placeholder="Repeat password"><br/>

            <input type="submit" class="btn btn-success btn-block"
                       th:value="Register">
            <div th:if="${param.error}">
                <br>
                <div class="alert alert-danger">
                    <span>Either username or password are incorrect, please try again </span>
                </div>
            </div>
        </form>
        <br>


    </div>

</div>
</body>
</html>