html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#sidebar {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #009999; */
    background-color: #0059b3;
    padding: 10px;
    padding-top: 5%;
}

#sidebar-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.drop-style {
    -webkit-appearance: none;
    box-sizing: content-box;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.nav-btn {
    width: 100%;
    color: white;
    margin-bottom: 10px;
    font-size: 17px;
    padding: 5px;
}

.nav-btn:hover {
    cursor: pointer;
    /* background-color: #008080; */
    background-color: #0080ff;
}

.main {
    width: 100%;
    height: 100vh;
}

.heading-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dashboard-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.create-proj-btn {
    background-color: #bfbfbf !important;
    border-radius: 4px !important;
    color: #002db3 !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
}

.create-proj-btn:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.hover-ef:hover {
    cursor: pointer;
}

.main-wrap {
    width: 95%;
    margin: 2%;
    /* border: 1px solid black; */
}

.project-table {
    width: 95%;
    /* border: 1px solid black; */
    display: grid;
}

.flex-grid {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.flex-grid .col {
    flex: 1;
}

.col-item {
    width: calc(100% / 4);
}

.name,
.pr-type,
.pr-owner,
.project-name,
.project-type,
.project-owner {
    font-size: 21px;
    font-weight: bold;
    color: #808080;
}

.project-name {
    color: #3440eb;
    font-size: 19px;
}

.project-type,
.project-owner {
    color: black;
    font-size: 19px;
    font-weight: normal;
}

#search-bar {
    width: 30%;
    margin-bottom: 50px;
}

.user-info {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

/* PROJECT CSS */

.project-page-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 5%;
    height: 100vh;
    background-color: #0059b3;
}

.project-bar {
    width: 18%;
    height: 100vh;
    background-color: #f0f2f4;
    align-items: center;
}

.project-container {
    width: 70%;
    height: 100vh;
}

.project-page {
    font-size: 23px;
}

.pr-name-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 20px;
}

.pr-image > img {
    width: 45px;
    height: 45px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 0 20px;
}

.pr-name-details {
    display: flex;
    flex-direction: column;
}

.project-btn{
    color: blue;
    background-color: #e1e4ea;
    border-radius: 5px;
}

.project-btn:hover{
    background-color: #b4bbcb;
}

.operation-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}
.sidebar-icon{
    width: 35px;
    margin: 50px auto;
}
.fa-input {
    cursor:pointer;
    color: white;
    font-size: 27px;
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.project-container{
    padding: 50px;
    padding-top: 30px;
}

.project-heading-wrap{
    display: flex;
    flex-direction: row;
}

.members, .teams{
    width: 15%;
    margin-left: 50px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #bfbfbf;
    border-radius: 4px;
    color:blue;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content > .single-member {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    cursor: pointer;
}

.boards{
   display: flex;
    flex-direction: row;
}

.single-board{
    width: 200px;
    min-height: 200px;
    background-color: #e6e6e6;
    margin-right: 70px;
}

.board-title{
    width: fit-content;
    margin: 0 auto;
    font-weight: bolder;
    color: #595959;
    text-transform: uppercase;
    padding: 10px;
}

.task-title{

}